.infoContainer {
  display: flex;
  margin-bottom:50px;
  flex-wrap: wrap;
  gap: 50px;
}

.mainInfo {
  flex: 1 1 auto;
  display: flex;
  gap: 15px;
}

.avatar {
  min-width: 150px;
  min-height: 150px;
  background: #000;
}

.nameAndOccup {
  /* styles for .nameAndOccup */
}

.name {
  /* styles for .name */
}

.occupation {
  /* styles for .occupation */
}

.editButtons {
  display: flex;
  align-items: center;
  gap:45px;
}

.addFeedbackButton,.editProfile {
    gap: 10px;
    display: flex;
    align-items: center;
  /* styles for .addFeedbackButton */
}

.editProfile {
  /* styles for .editProfile */
}
