.widget {
  border-radius: 10px;
  min-width: 265px;
  height: 180px;
  padding: 24px 14px 24px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: auto 65%;
  background-repeat: no-repeat;
  background-position: bottom right;
  box-shadow:
    0 5px 14px rgba(0, 0, 0, 0.11),
    0 2px 1px rgba(0, 0, 0, 0.05);

  @media (max-width: 567px) {
    & {
      background-size: auto 45%;
    }
  }

  & .title {
    color: #333;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.9;
    margin-bottom: 8px;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .description {
    color: #333;
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    z-index: 5;
  }
  & .link {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 9px 16px;
    text-decoration: none;
    color: #333;
    background-color: var(--white-color);
    font-size: 12px;
    line-height: 24px;
    width: max-content;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: rgb(246, 245, 245);
    }
    &:focus-within {
      background-color: rgb(246, 245, 245);
      & a {
        color: var(--main-color);
      }
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }
}
