.shared {
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--border-color);
  padding: 10px 20px;

  & .sharedText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    font-weight: 300;

    @media (max-width: 567px) {
      & svg {
        display: none;
      }
    }
  }

  & .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    height: 19px;

    & svg {
      cursor: pointer;
      font-size: 24px;
      &:hover {
        color: var(--main-color);
      }
    }
  }

  & .evaluate {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    & .evaluateText {
      font-size: 14px;
      font-weight: 300;
    }

    @media (max-width: 567px) {
      & .evaluateTitle {
        display: none;
      }
      & span {
        font-size: 20px !important;
      }
    }
  }
}
