.settingsBar {
  background-color: var(--white-color);
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  z-index: 10;
  position: relative;

  & .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    cursor: default;
    color: var(--black-color);
    position: relative;
    overflow: hidden;
    z-index: 20;
    background: var(--white-color);

    & span {
      margin-right: 10px;
    }
  }

  & .divider {
    border-bottom: 1px solid var(--border-color);
    @media (max-width: 768px) {
      & {
        border: none;
      }
    }
  }
  & .settingsList {
    padding: 10px 20px;

    & .settingItem {
      cursor: pointer;
      color: var(--black-color);
      font-family: var(--font-ptsans);
      font-size: 14px;
      line-height: 1.7;

      &:hover {
        color: var(--main-color-hover);
        font-weight: 700;
      }
      &.active {
        color: var(--main-color-hover);
        font-weight: 700;
      }
    }
  }
}
