.infoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media (max-width: 567px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.block {
  padding: 20px;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--black-color);
  text-wrap: nowrap;

  @media (max-width: 567px) {
    margin-bottom: 0px;
  }
  & li {
    display: flex;
    align-items: center;
    gap: 10px;

    & a {
      color: var(--main-color);
      &:hover {
        opacity: 0.7;
      }
    }
    & svg {
      font-size: 20px;
    }
    & span {
      margin-right: 5px;
    }
  }
}
