.home {
  & .container {
    max-width: 1020px;
    padding: 0px 10px 0px 10px;
    margin: 20px auto;
  }
  & .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: none;
      grid-column-gap: 0px;
      grid-row-gap: 20px;
    }
  }
}
.homeTape {
  padding: 20px;
  height: 1067px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.11), 0 2px 1px rgba(0, 0, 0, 0.05);
}
