.categories {
  background-color: var(--white-color);
  border-radius: 10px;
  height: max-content;

  & .container {
    padding: 20px 0;
  }
  & .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    cursor: default;
    color: var(--black-color);

    & span {
      margin-right: 10px;
    }
    & svg {
      transition: all 0.3s ease;
    }
    & .activeSvg {
      transform: rotate(45deg);
    }
  }
  & .divider {
    border-bottom: 1px solid var(--border-color);
  }
}

.categoriesList {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0 20px;

  .categoryItem {
    cursor: pointer;
    color: var(--black-color);
    font-family: var(--font-ptsans);
    font-size: 14px;
    line-height: 1.7;

    &:hover {
      color: var(--main-color);
      font-weight: 700;
    }
    &:active {
      color: var(--main-color-active);
    }
  }
  & .active {
    color: var(--main-color);
    font-weight: 700;
  }
}
