.feedbackPage {
  height: 100%;
  margin: 0 10px;

  & .container {
    max-width: 820px;
    padding: 20px 0px;
    margin: 0px auto;
    background-color: var(--white-color);
    border-radius: 10px;
    height: 100%;
  }
}
