.comment {
  margin-bottom: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  & svg {
    font-size: 46px;
    fill: var(--main-color) !important;
  }

  & div {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 5px;

    & time {
      font-size: 13px;
    }
  }
}

.text {
  padding-left: 55px;
  line-height: 1.5;
  font-weight: 300;

  @media (max-width: 567px) {
    padding-left: 0;
  }
}
.answer {
  margin-top: 10px;
  margin-left: 55px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
  background: var(--border-color);
  padding: 5px 15px;
  border-radius: 10px;

  &:hover {
    color: #6164ec;
  }
  @media (max-width: 567px) {
    margin-left: 0;
  }
}
