.comments {
  padding: 20px 20px;
  border-top: 1px solid var(--border-color);
  & h2 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--black-color);
    font-size: 20px;
    margin-bottom: 30px;

    & span {
      font-size: 16px;
    }
  }
}
.noComments {
  text-align: center;

  & .image {
    & img {
      width: 250px;
    }
  }
  & .text {
    color: var(--black-color);
  }
}
