.header {
}

.container {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 10px 0;
}
.headerLogo {
}
.searchForm {
}
.searchFormBlock {
}
