.link {
}
.linkContainer {
  background: var(--white-color);
  &:hover {
    background: var(--white-hover);
  }
  padding: 28px 35px;
  margin: 20px 0px;
  &:active {
    background: var(--white-active);
  }
}
.name {
  color: var(--main-dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 15px;
}
.text {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0px;
  max-height: 3em;
  overflow: hidden;
  text-wrap: wrap;
  word-wrap: break-word;
}
.info {
  display: flex;
  justify-content: space-between;
  gap: 20px 50px;
  color: var(--grey-color);
  flex-wrap: wrap;
}
.statistics {
  gap: 25px;
  display: flex;
  .statisticsMetric {
    display: flex;
    align-items: center;
    gap: 7px;
  }
}

@media screen and (max-width: 470px) {
  .linkContainer {
    padding: 25px 17px;
  }
}
