.verifyEmail {
  @media (max-width: 567px) {
    margin: 0px 10px;
  }

  & .container {
    max-width: 545px;
    padding: 20px;
    margin: 0px auto;
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    text-align: center;

    & .image img {
      width: 200px;
    }

    & .text {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      margin-top: 20px;
      font-size: 19px;
      color: var(--black-color);

      & svg {
        color: blue;
      }
    }
    & .link {
      margin-top: 40px;
      padding: 15px 0;
      font-size: 14px;
      font-weight: 700;
      background: var(--main-color);
      color: var(--white-color);
      border-radius: 5px;
      transition: background-color 0.3s ease;
      @media (max-width: 567px) {
        font-size: 14px;
      }

      &:hover {
        background: var(--main-color-hover);
      }

      &:active {
        background: var(--main-color-active);
      }
    }
    @media (max-width: 576px) {
      margin: 0px auto;
      border-radius: 15px;
    }
  }
}
